<div>
    {{#with program}}
    {{#with excursion}}
    <div><b>Name:</b> {{name}}</div>
    <div><b>Location:</b> {{location.city}}, {{location.country}}</div>
    <div><b>Date:</b> {{date}}</div>

    <div class="mt-3"><strong>Program</strong></div>
    {{#each program}}
    <ul>
        <li>
            <div><b>Name:</b> {{name}}</div>
            <div><b>Type:</b> {{type}}</div>
            <div><b>Duration:</b> {{duration}}</div>

            {{#with details.museum}}
            <div class="mt-1"><b>Details</b></div>
            <h5><b>Museum name:</b> {{name}}</h5>

            <div class="mb-2">{{#with location}}
                <B>Location:</B>{{address}}, {{city}}, {{country}}
                {{/with}}
            </div>

            {{#each exhibits}}
            <div class="mt-2"><b>Exhibits:</b> {{name}}</div>
            <div><b>Artist:</b> {{#if artist}} {{artist}} {{else}} - {{/if}}</div>
        <li>
            {{name}} (Description: {{description}}) {{#if audio_guide}} {{/if}}
        </li>

        {{/each}}
        {{/with}}


        {{#with guide}}
        <div class="mt-2"><b>Guide:</b> {{name}}</div>
        <div><b>Language:</b> {{language}}</div>
        <div><b>Rating:</b> {{rating}}</div>
        {{/with}}

        {{#with details}}
        <h4>{{venue.name}}</h4>
        {{#with venue.location}}
        <div><b>Location:</b> {{address}}, {{city}}, {{country}}</div>
        {{/with}}

        {{#each performers}}
        <b class="mt-2">performers</b>
        <div><b>name:</b> {{name}}</div>
        <div><b>type:</b> {{type}}</div>
        {{/each}}
        {{/with}}

        {{#with guide}}
        <div class="mt-2"><b>Guide:</b> {{name}}</div>
        <div><b>Language:</b> {{language}}</div>
        <div><b>Rating:</b> {{rating}}</div>
        {{/with}}

        </li>
    </ul>
    {{/each}}

    {{/with}}
    {{/with}}
</div>