<div>
    {{#with heading}}
    <div class="card my-4">
        <div class="card-body">
            {{#with main}}
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            {{#with button_text}}
            <div>
                <button class="btn btn-primary mb-2">
                    {{solid}}
                </button>
            </div>
            <div>
                <button class="btn btn-outline-primary">
                    {{outline}}
                </button>
            </div>
            {{/with}}
            {{/with}}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            {{#with second}}
            <h2>{{title}}</h2>
            <p>{{text}}</p>
            {{#with button_text}}
            <div>
                <button class="btn btn-secondary mb-2">
                    {{solid}}
                </button>
            </div>
            <div><button class="btn btn-outline-secondary">
                    {{outline}}
                </button></div>
            {{/with}}
            {{/with}}
            {{!-- second --}}
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            {{#with subblock}}
            <h3>{{title}}</h3>
            <p>{{text}}</p>
            {{#with button_text}}
            <div>
                <button class="btn btn-dark mb-2">
                    {{solid}}
                </button>
            </div>

            <div>
                <button class="btn btn-outline-dark">
                    {{outline}}
                </button>
            </div>
            {{/with}}
            {{!-- button_text --}}
            {{/with}}
            {{!-- subblock --}}
        </div>
    </div>
    {{/with}}
    {{!-- heading --}}

    {{#with nested_display}}
    <div class="card mb-4">
        <div class="card-body">
            <div class="display-1">{{title}}</div>
            {{#with children_display}}
            <div class="card my-3">
                <div class="card-body">
                    <div class="display-4">{{title}}</div>
                    <p>{{text}}</p>
                    <div>
                        <button class="btn btn-outline-warning">
                            {{button.text}}
                        </button>
                    </div>
                </div>

            </div>
            {{/with}}

            {{!-- children_display --}}
            <h6>{{header_text}}</h6>
            <div>
                <button class="btn btn-info">
                    {{button.text}}
                </button>
            </div>
        </div>
    </div>
    {{/with}}
    {{!-- nested_display --}}

    <div class="card mb-3">
        {{#with paragraph}}
        <div class="card-body">
            <p class="text-uppercase">{{title}}</p>
            <p>{{text}}</p>

            <div>
                {{#with button}}
                <a href="{{url}}" class="btn btn-link">
                    {{text}}
                </a>
                {{/with}}

            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <ul>
                        {{#each list_name}}
                        <li>
                            <a href="{{url}}" class="btn btn-link">
                                {{text}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/with}}
        {{!-- paragraph --}}
    </div>
</div>