<div class="page">
    <section class="page_block">
        <div class="page_content">
            <header class="header mb-3">
                <div class="">
                    {{> logo}}
                </div>
                <nav class="header_nav ">
                    <div class="header_nav_right">
                        {{> nav_template-1 list=header }}
                    </div>
                </nav>
            </header>
        </div>
    </section>

    <section class="page_block">
        <div class="hero">
            {{> hero title=hero.title text=hero.text}}
            <a class="button" href="{{hero.button.url}}">{{hero.button.text}}</a>
        </div>

    </section>

    <section class="page_block">
        <div class="flex_container">
            {{#each preview}}
            <div class="flex_item">
                {{> cardPreview data=this}}
            </div>
            {{/each}}
        </div>
    </section>


    <div class="page_block">
        <main class="main">
            <div class="">
                <div class="">
                    <div class="list_header">
                        <h2 class="list_title">List of posts</h2>
                        <div class="category_list">
                            {{#each categories}}
                            <button class="list_categories_button">{{text}}</button>
                            {{/each}}
                        </div>


                    </div>
                </div>
                <div class="col-7">
                    <div class="list">
                        {{#each news}}
                        {{> cardPost data=this}}
                        {{/each}}
                    </div>
                </div>

                <div class="col-5">
                    <aside class="list_aside">
                        <div class="about">
                            <h4 class="about_title">About</h4>
                            <p class="about_text">{{about}}</p>
                        </div>

                        <div class="archives">
                            {{> archives data=archive title='Archives'}}
                        </div>
                        <div class="social">
                            {{> archives data=social title='Social'}}
                        </div>
                    </aside>
                </div>
            </div>
        </main>

    </div>


    <section class="page_block ">
        <div class="page_content">
            <footer class=" footer">
                <div class="">
                    {{> logo}}
                    <span class="footer_copyrigth">Copyright 2023</span>
                </div>
                {{#each footer}}
                <div class="col-3">
                    <span class="footer_title"> {{title}}</span>
                    {{> nav_template-1 list=links isVertical=true}}
                </div>
                {{/each}}
            </footer>
        </div>
    </section>


</div>