<div>
    {{#with web}}
    <div>
        {{#with languages.[0]}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><b><i>Version:</b> {{version}}</i></div>
        <div><small><b>Description:</b> {{description}}</small></div>

        <hr>
        {{#each elements}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>

        <hr>
        {{#each attributes}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{/each}}
        {{/each}}
        {{/with}}
    </div>
    <hr>
    <div>
        {{#with languages.[1]}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><b><i>Version:</b> {{version}}</i></div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{#each properties}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{#each values}}
        <div><b>Value:</b> {{value}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>
        {{/each}}
        {{/each}}
        {{/with}}
    </div>
    <hr>

    <div>
        {{#with languages.[2]}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><b><i>Version:</b> {{version}}</i></div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{#each functions}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{#each parameters}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><b>Type:</b> {{type}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>
        {{/each}}
        {{/each}}
        {{/with}}
    </div>

    <hr>

    <div>
        {{#with langueges.[3]}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>
        <div><small><b>Description:</b> {{description}}</small></div>

        {{#each parameters}}
        <div class="mt-3"><strong>Name:</strong> {{name}}</div>

        <div><b>Type:</b> {{type}}</div>

        <div><small><b>Description:</b> {{description}}</small></div>
        {{/each}}
        {{/with}}
    </div>
    {{/with}}
</div>