{{#with main}}
<main>

    <div>
        {{> title data='Work history' big=true}}
        {{#each works}}

        <div class="mb-2">{{position}}</div>

        <div class="mb-3">{{duration.from}} -
            {{#if duration.to}}
            {{duration.to}}
            {{else}}
            ще працюю
            {{/if}}
        </div>
        <div class="mb-3">
            Company:
            {{#if company.url}}
            {{> link text=company.name
            href=company.url blank=true noLine=true}}
            {{else}}
            <b>{{company.name}}</b>
            {{/if}}

        </div>

        <div><strong>Project</strong> ({{projectAmount}})</div>
        {{#each projects}}
        <div class="ms-3">{{> link text=name href=url blank=true noLine=true}}</div>
        <div class="ms-3">({{about}})</div>


        <div class="mt-3">
            <div><b>Project stacks</b> ({{stacksAmount}})</div>

            {{#each stacks}}
            <div class="ms-4"> {{name}}</div>
            {{/each}}
        </div>


        <div class="mt-3">
            <b>Project awards</b>
            {{#each awards}}
            <div class="ms-4">{{name}} </div>
            {{/each}}
            <br>
            {{/each}}
        </div>




        {{/each}}
    </div>

</main>
{{/with}}