<div class="col plans_card">

	<div class="card">
		<div class="card-header">{{name}}</div>
		<div class="card_body">
			<div class="card_block">
				<span class="card_price_amount">${{price}}</span>
				<span class="card_price_duration">/ mo </span>
			</div>
			<uk class="card_block">
				{{#each features}}
				<li class="card_desctiption_item">{{this}}</li>
				{{/each}}
				</ul>
				<div class="card-block">
					<button
						class="btn {{#if @first}}btn-outline-primary{{else}}btn-primary{{/if}} card_button">{{button}}</button>
				</div>
		</div>
	</div>




</div>