{{#each reviewList}}
<div class="card">
    <div class="card mx-3 my-4">
        <div class="card-body">
            {{#with title}}
            <b>{{userName}}</b>
            <div class="text-secondary">{{caption}}</div>
            <span class="text-secondary">{{date}}</span>
            {{/with}}
            <hr>
            {{#with reviewBody}}

            <div class="text-secondary">
                {{#with seller}}
                <div>{{title}} : {{value}}</div>
                {{/with}}
                <div class="py-2">{{rating.title}}: {{rating.value}}</div>
                <div>{{text}}</div>

                <div class="mt-3 mb-2"><b class="text-dark ">{{advantages.title}}</b>
                    <p>{{advantages.text}}</p>
                </div>
                <div class="mt-3 mb-2"><b class="text-dark ">{{disadvantages.title}}</b>
                    <p>{{disadvantages.text}}</p>
                </div>
                {{#each images}}
                <img class="col-3" src="{{this}}">
                {{/each}}
            </div>
            {{#each coments}}
            <div class="card m-3">
                <div class="card-body">
                    <h6>{{userName}}</h6>
                    <div class="text-secondary">{{date}}</div>
                    <div class="card-text text-secondary">{{text}}</div>
                </div>
            </div>
            {{/each}}


            {{/with}}
            {{!-- reviewBody --}}
        </div>
    </div>
</div>
{{/each}}