<div class="row m-3">
    <div class="card col-12">
        {{#with navigation}}
        <div class="nav">
            <h3 class="text-bold pt-1 col-8">{{Logo}}</h3>
            {{#with links.[0]}}
            <div class="nav-item">
                <a class="nav-link active" href="{{href}}">{{text}}</a>
            </div>
            {{/with}}
            {{#with links.[1]}}
            <div class="nav-item">
                <a class="nav-link active" href="{{href}}">{{text}}</a>
            </div>
            {{/with}}
            {{#with links.[2]}}
            <div class="nav-item">
                <a class="nav-link disabled" href="{{href}}">{{text}}</a>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <hr>
</div>